<div class="footer">
  <p>
    2021 Airbnb. Все права защищены.
  </p>
  <div class="media_group">
    <button class="media_button" mat-icon-button aria-label="Example icon button with a home icon">
      <mat-icon>facebook</mat-icon>
    </button>
    <button class="media_button" mat-icon-button aria-label="Example icon button with a home icon">
      <mat-icon>twitter</mat-icon>
    </button>
    <button class="media_button" mat-icon-button aria-label="Example icon button with a home icon">
      <mat-icon>youtube</mat-icon>
    </button>
    <button class="media_button" mat-icon-button aria-label="Example icon button with a home icon">
      <mat-icon>telegram</mat-icon>
    </button>
  </div>
</div>
