<div class="header">
  <p class="header_p">
    <mat-toolbar>
      <span class="header_span">AIRBNB</span>
    </mat-toolbar>
  </p>
  <div class="button_group">
    <button class="header_button" mat-icon-button aria-label="Example icon button with a home icon">
      <mat-icon>home</mat-icon>
    </button>
    <button class="header_button" mat-icon-button aria-label="Example icon button with a home icon">
      <mat-icon>settings</mat-icon>
    </button>
    <button class="header_button" mat-icon-button aria-label="Example icon button with a home icon">
      <mat-icon>info</mat-icon>
    </button>
  </div>
</div>

